/* background-color: #69606D;
background-color game screen: #151415; */

body {
    background: linear-gradient(#69606D, #bb7c4c);
    width: 100%;
}

.align-center {
    display: flex;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.display-block {
    display: block;
}

#start-screen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

#game-logo-img {
    width: 10vh;
    height: auto;
    margin-right: 2vh;
}

#start-screen h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    margin-right: 2vh;
}

#start-screen p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

#container {
    display: flex;
    justify-content: center;
}

#game-screen {
    background-color: #151415;
    display: grid;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(30, 1fr);
    width: 500px;
    height: 500px;
    border: 6px solid rgb(93, 93, 93);
    border-radius: 4px;
    /* justify-content: center;
    align-items: center; */
}

#restart-button {
    display: flex;
    align-items: center;
    width: 110px;
}

#score-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
}

#restart {
    font-size: 15px;
    padding: 10px 20px;
    background: #69606D;
    border: none;
    color: #2f2c31;
    border-radius: 20px;
    font-weight: 800;
    transform: rotate(-90deg);
    cursor: pointer;
    transition: all 200ms;
}

  #restart:hover {
    background: #777980;
    background: #bb7c4c;
    transition: all 200ms 
}

#score {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 40px;
    transform: rotate(-90deg);
    width: auto;
}

#arrow-keys-img {
    width: 10vh;
    height: auto;
    margin: 3vh 0 3vh 0;
}

.arrow-keys {
    width: 100%;
    display: flex;
    justify-content: center;
}

#points {
    font-weight: 700;
    margin: 0 0 0 5vh;
}

.grid-cell {
    width: 10px;
    height: 10px;
    background-color: rgb(66, 52, 121);
    border: 1px solid white;
}

.snake {
    background-color: rgb(0, 255, 106);
}

.food {
    background-color: #ea1919;
}

  